<ion-view view-title="DMAware - Alignment">
    <ion-content>
        <div style="padding: 10px;">
            <div>
                <img src="http://www.patrickborrelli.com/images/dropA.jpg" style="height: 75px; float: left; padding-right: 10px; padding-bottom: 5px;"/>
                lignment broadly describes a creatures moral and personal attitudes.   Alignment is a combination of two factors: one identifies morality (good, evil, neutral), and the other describes attitude towards society and order (lawful, chaotic, neutral).
            </div><br/>
            <div class="card" ng-repeat="alignment in alignments">
                <div class="item item-divider">
                    <ion-radio ng-model="characterForm.alignment" value="{{alignment.name}}">{{alignment.name}}</ion-radio>      
                </div>
                <div class="item item-text-wrap">
                    <p>{{alignment.description}}</p>
                </div>
            </div>
            <button class="button button-block button-positive" ng-click="saveCurrentAlignment()" ng-disabled="!characterForm.alignment">Next</button>
        </div>
    </ion-content>
</ion-view>