<ion-view view-title="DMAware - Skill">
    <ion-content>
        <div style="padding: 10px;">
            <div>
                <img src="http://www.patrickborrelli.com/images/dropP.jpg" style="height: 75px; float: left; padding-right: 10px; padding-bottom: 5px;"/>
                layer Character (PC) skills are utilized in many aspects of gameplay. In the 5th Edition rules, all players have some level of all skills, based on the ability associated with a particular skill. For example, a player who has a Strength score of 14 gets a +2 modifier for Strength. So for any Strength related skills (Athletics), the player will get the same bonus to that particular skill.<br/><br/>Additionally, depending on their character class, players get to choose a proficiency in some number of skills. The character class may also limit the list of skills a character can be proficient in (i.e., a Fighter can choose two skills to be proficient in from Acrobatics, Animal Handling, Athletics, History, Insight, Intimidation, Perception and Survival). Any skill a player is proficient in has the player's proficiency bonus applied to that skill as well.<br/><br/>
                <span style="font-weight: bold; color: blue;">{{classString}}</span>
            </div><br/>
            <ul class="list">
                <li class="item item-checkbox" ng-hide="acroDisabled" >
                     Acrobatics (Dex)
                    <label class="checkbox">
                        <input type="checkbox" class="mySkills" ng-disabled="disabledSkills()" checklist-model="selectedSkills" value="Acrobatics">
                    </label>
                </li>
                <li class="item item-checkbox" ng-hide="animDisabled">
                     Animal Handling (Wis)
                    <label class="checkbox">
                        <input type="checkbox" class="mySkills" ng-disabled="disabledSkills()" checklist-model="selectedSkills" value="Animal Handling">
                    </label>
                </li>
                <li class="item item-checkbox" ng-hide="arcaDisabled">
                     Arcana (Int)
                    <label class="checkbox">
                        <input type="checkbox" class="mySkills" ng-disabled="disabledSkills()" checklist-model="selectedSkills" value="Arcana">
                    </label>
                </li>
                <li class="item item-checkbox" ng-hide="athlDisabled">
                     Athletics (Str)
                    <label class="checkbox">
                        <input type="checkbox" class="mySkills" ng-disabled="disabledSkills()" checklist-model="selectedSkills" value="Athletics">
                    </label>
                </li>
                <li class="item item-checkbox" ng-hide="deceDisabled">
                     Deception (Cha)
                    <label class="checkbox">
                        <input type="checkbox" class="mySkills" ng-disabled="disabledSkills()" checklist-model="selectedSkills" value="Deception">
                    </label>
                </li>
                <li class="item item-checkbox" ng-hide="histDisabled">
                     History (Int)
                    <label class="checkbox">
                        <input type="checkbox" class="mySkills" ng-disabled="disabledSkills()" checklist-model="selectedSkills" value="History">
                    </label>
                </li>
                <li class="item item-checkbox" ng-hide="insiDisabled">
                     Insight (Wis)
                    <label class="checkbox">
                        <input type="checkbox" class="mySkills" ng-disabled="disabledSkills()" checklist-model="selectedSkills" value="Insight">
                    </label>
                </li>
                <li class="item item-checkbox" ng-hide="intiDisabled">
                     Intimidation (Cha)
                    <label class="checkbox">
                        <input type="checkbox" class="mySkills" ng-disabled="disabledSkills()" checklist-model="selectedSkills" value="Intimidation">
                    </label>
                </li>
                <li class="item item-checkbox" ng-hide="inveDisabled">
                     Investigation (Int)
                    <label class="checkbox">
                        <input type="checkbox" class="mySkills" ng-disabled="disabledSkills()" checklist-model="selectedSkills" value="Investigation">
                    </label>
                </li>
                <li class="item item-checkbox" ng-hide="mediDisabled">
                     Medicine (Wis)
                    <label class="checkbox">
                        <input type="checkbox" class="mySkills" ng-disabled="disabledSkills()" checklist-model="selectedSkills" value="Medicine">
                    </label>
                </li>
                <li class="item item-checkbox" ng-hide="natuDisabled">
                     Nature (Int)
                    <label class="checkbox">
                        <input type="checkbox" class="mySkills" ng-disabled="disabledSkills()" checklist-model="selectedSkills" value="Nature">
                    </label>
                </li>
                <li class="item item-checkbox" ng-hide="percDisabled">
                     Perception (Wis)
                    <label class="checkbox">
                        <input type="checkbox" class="mySkills" ng-disabled="disabledSkills()" checklist-model="selectedSkills" value="Perception">
                    </label>
                </li>
                <li class="item item-checkbox" ng-hide="perfDisabled">
                     Performance (Cha)
                    <label class="checkbox">
                        <input type="checkbox" class="mySkills" ng-disabled="disabledSkills()" checklist-model="selectedSkills" value="Performance">
                    </label>
                </li>
                <li class="item item-checkbox" ng-hide="persDisabled">
                     Persuasion (Cha)
                    <label class="checkbox">
                        <input type="checkbox" class="mySkills" ng-disabled="disabledSkills()" checklist-model="selectedSkills" value="Persuasion">
                    </label>
                </li>
                <li class="item item-checkbox" ng-hide="reliDisabled">
                     Religion (Int)
                    <label class="checkbox">
                        <input type="checkbox" class="mySkills" ng-disabled="disabledSkills()" checklist-model="selectedSkills" value="Religion">
                    </label>
                </li>
                <li class="item item-checkbox" ng-hide="sleiDisabled">
                     Sleight of Hand (Dex)
                    <label class="checkbox">
                        <input type="checkbox" class="mySkills" ng-disabled="disabledSkills()" checklist-model="selectedSkills" value="Sleight of Hand">
                    </label>
                </li>
                <li class="item item-checkbox" ng-hide="steaDisabled">
                     Stealth (Dex)
                    <label class="checkbox">
                        <input type="checkbox" class="mySkills" ng-disabled="disabledSkills()" checklist-model="selectedSkills" value="Stealth">
                    </label>
                </li>
                <li class="item item-checkbox" ng-hide="survDisabled">
                     Survival (Wis)
                    <label class="checkbox">
                        <input type="checkbox" class="mySkills" ng-disabled="disabledSkills()" checklist-model="selectedSkills" value="Survival">
                    </label>
                </li>
            </ul>
            <button class="button button-block button-positive" ng-click="saveCurrentSkills()">Next</button>
        </div>
    </ion-content>
</ion-view>